form {
    background-color: white;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

label {
    display: block;
}

fieldset {
    border: none;
}

textarea, input[type="text"]  {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
